*{
  box-sizing: border-box;
}

body{
  font-family: Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;  
}

.wrapper{
  background-color: #FFFF99;
  height: 100vh;
  width: 100vw;
}

.header{
  height: 50px;
  background-color: #333;
  width: 100vw;
  color: #fff;
  line-height: 50px;
  padding-left: 20px;
}

.home{
  text-decoration: none;
  color: #fff;
}

.home:hover{
  color: #C0C0C0;
}

.title{
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}

.btn-link {
  text-align: center;
  margin-top: 20px;
}
.btn{
  display: inline-block;
  width: 150px;
  height:40px;
  text-align: center;
  background-color: green;
  font-size: 16px;
  line-height: 40px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid green;
  border-radius: 10px;
}

.btn:hover{
  color: green;
  background-color: #fff;
  transition: 0.3s;
}

.task-box{
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  border-bottom: 1px solid gray;
  max-height: 530px;
  overflow-y: scroll;
}

.box-title{
  height: 30px;
  line-height: 30px;
  background-color: #66CC66;
  color: #fff;
  padding-left: 20px;
}

.task-header{
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  display: flex;
}

.task-name-t{
  width: 450px;
  padding-left: 10px;
}

.task-name{
  width: 450px;
  padding-left: 10px;
  color: blue;
}

.task-date{
  width: 250px;
}

.task{
  height: 40px;
  line-height: 40px;
  display: flex;
  border-top: 1px solid gray;
}

.task:hover{
  background-color: #f1f1f1;
}

.no-task{
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-top: 1px solid gray;
}

.show{
  text-decoration: none;
  color: #333;
}

.s-task-box{
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  background-color: #fff;
}

.left{
  width: 450px;
  border: 1px solid #66CC66;
}

.left-title{
  height: 30px;
  line-height: 30px;
  background-color: #66CC66;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.t-title{
  font-size: 18px;
  padding: 10px;
  height: 100px;
}

.t-text{
  font-size: 18px;
  padding: 10px;
  height: 200px;
}

.s-task-date{
  text-align: right;
  padding: 5px;
}

.comment-box{
  width: 250px;
  height: 391px;
  overflow-y: scroll;
}

.comment-title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.c-box{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.comment {
  display: inline-block;
  position: relative; 
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 12px;
  background: #d7ebfe;
  width: 200px;
}

.comment:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.delete{
  font-size: 20px;
  margin-left: 5px;
  color: gray;
  text-decoration: none;
}

.form{
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.text-form, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 50px;
  font-size: 18px;
}

textarea {
  height: 150px;
}

.submit{
  font-size: 16px;
  width:150px;
  height:50px;
  background-color: #66CC66;
  margin: auto;
  margin-top: 24px;
  border-radius: 5px;
  color: #ffffff;
  line-height: 50px;
  font-weight:bolder;
  display: block;
  cursor: pointer;
}

.submit:hover{
  box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
  transform: translateY(-3px);
  transition: 0.3s;
}

.c-new-form{
  text-align: center;
}

.comment-new{
  width: 500px;
  padding: 5px;
  height: 50px;
  font-size: 18px;
}

.c-submit{
  font-size: 16px;
  width:150px;
  height: 50px;
  background-color: #66CC66;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 5px;
  color: #ffffff;
  font-weight:bolder;
  display: block;
  cursor: pointer;
}

.error {
  font-size: 12px;
  color: tomato;
}

.btn-box{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.edit-link{
  margin-right: 10px;
  text-decoration: none;
  color: #0000ee;
}

.edit-link:hover{
  color: #F00;
}

.delete-link{
  text-decoration: none;
  color: #0000ee;
}

.delete-link:hover{
  color: #F00;
}

